.navbarHeader {
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0px 5px 5px 0px #f1f4fc;
  }
  
  .navbarHeader .navbar-brand {
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbarHeader .btn {
    padding: 10px 30px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
  }
  
  .navbarHeader .btn:hover{
    background-color: #EFF4FD;
    color: #30507D;
    font-weight: 600;
  }
  .btn:focus
  {
    box-shadow: none;
  }